<div>

<p>
    Get client id and secrets from
    https://phabricator.kde.org/oauthserver/client/view/PHID-OASC-xyrb4m7idojth6tz3lob/
</p>

<p>
    The redirection URL set on phabricator MUST be equal to
    $jenkins_host/securityRealm/finishLogin
</p>

</div>
