<div>
    <p>
        The query certificate is used to query global information from phabricator.
        This is needed as at the time of writing phabcricator does not actaully support
        oauth tokens to scope to anything but the user.whoami endpoint.
        In order to obtain group information we also need to access project.*
        endpoints though.
    </p>

    <p>
        The query certificate is bound to one user and must be manually obtained:
        <ol>
            <li>
                Get a token from
                <a href="https://phabricator.kde.org/conduit/token/">
                    https://phabricator.kde.org/conduit/token/
                </a>
            </li>
            <li>
                Got to
                <a href="https://phabricator.kde.org/api/conduit.getcertificate">
                    https://phabricator.kde.org/api/conduit.getcertificate
                </a>
                and insert the token with quotation marks. Use empty quotes for
                the host (it is not actually validated by phabricator).
            </li>
            <li>
                Click call method
            </li>
            <li>
                You should get a successful reply with a very long
                certificate. This is your new query certificate.
            </li>
        </ol>
    </p>
</div>
